<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "2.0.0">

<name>Menu Virtual</name>

<description>
Menu Virtual de Comida Japonesa
</description>

<preference name="orientation" value="default" />
<preference name="fullscreen" value="true" />
<preference name="phonegap-version" value="3.7.0" />

<icon src="SushiIntro.png" />
  
<gap:splash src="splash.png"/>
<gap:platform name="android" />
<gap:platform name="winphone" />

<author href="https://example.com" email="you@example.com">
Jesus Eduardo
</author>

</widget>
